<!DOCTYPE html>
<html>
    <head>
        <title>Task Complete</title>
    
    </head>
    <body>
        <header>
            Task Complete
        </header>

        <nav>

        </nav>

        <main>
            {{{body}}}
        </main>

        <footer>

        </footer>
    </body>
</html>